.secategory {
  width: 100%;
  height: 405px;
  /* background-color: pink; */
  display: flex;
  justify-content: center;
  .center-secategory {
    width: 80%;
    height: inherit;
    /* background-color: chocolate; */
    padding: 0 40px;

    .text {
      width: 100%;
      height: 20%;
      /* background-color: red; */
      font-family: var(--fontfamily);
      font-size: 20px;
      text-align: center;
      padding: 20px 0;
    }
    .top,
    .bottom {
      width: 100%;
      height: 40%;
      /* background-color: lightskyblue; */
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      column-gap: 15px;
      /* padding: 0 70px; */
      .item {
        width: 10.25%;
        height: 100%;
        /* background-color: yellow; */
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        img {
          width: 100px;
          height: 100px;
        }
        .matn {
          margin: 10px auto;
          font-family: var(--fontfamily);
          font-size: 12px;
          color: #0c0c0c;
          font-weight: 700;
          overflow: hidden;
          display: -webkit-inline-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          text-align: center;
        }
      }
    }
    .bottom {
      width: 100%;
      height: 40%;
      /* background-color: darkgreen; */
    }
  }
}
